/.idea/
/privileges/
/target/
/log4j.properties
/META-INF/
/deployment-tools/
/libs/other/
/out/
/src/main/resources/META-INF/
/src/test/java/META-INF/
/javax.comm.properties
/src/main/resources/diagrams/
/tunuk-data-producer_0.2.4_amd64.snap
